.header{
  display: flex;
  justify-content: space-between;
}
.logo,.menu{
  display: inline-block;
  display: flex;
  }
.main-content__title{
    font-family: roboto;
}
.logo{
  padding: 40px 0;
  margin-right: 63%;
}
.wraper{
    width: 80%;
  margin: auto;
}
.menu{
  display: flex;
  align-items: center;
}
.menu__item{
  padding: 0 13px;
}

.menu__item:last-child{
  padding-right: 0;
}
